<header>
  <hgroup>
    <h1>its Supermurgitroid</h1>
    <h2>code and decode secret messages - post on facebook and twitter</h2>
  </hgroup>
</header>
<nav id="home">
  <a href="/page">Supermurgitroid</a>
  <a id="go" href="/page">Go!</a>
</nav>
