* {
  background: none !important;
  text-indent: -9999px !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

img {
  display: none !important;
}

.connect_widget_like_button .liketext {
  display: block !important;
  background: transparent url(http://murgitroid.heroku.com/assets/facebook_like.png) no-repeat top center !important;
  width: 200px !important;
  height: 125px !important;
}
