* {
  background: none !important;
  display: none !important;
}

#LikeboxPluginPagelet .connect_widget_vertical_center.connect_widget_button_cell {
  display: block !important;
  background: transparent url(/assets/facebook_like.png) no-repeat top center !important;
  width: 200px !important;
  height: 125px !important;
}
